.sc-since {
  position: relative;
  height: calc(var(--vh) * 400);
}
.sc-since .sticky {
  position: sticky;
  top: 0;
  height: 100vh;
  overflow: hidden;
  z-index: 10;
}
.sc-since .sticky .sticky-inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  color: #252525;
}
.sc-since .sticky .sticky-inner .title-area {
  text-align: center;
  display: flex;
  align-items: flex-end;
}
.sc-since .sticky .sticky-inner .title-area .title-box .num {
  position: relative;
  font-weight: 700;
  font-size: 11rem;
  line-height: 1;
  font-family: var(--SpoqaHanSans);
}
.sc-since .sticky .sticky-inner .title-area .title-box .num::before {
  display: block;
  content: "SINCE";
  position: absolute;
  top: -3rem;
  font-size: 3.3rem;
  font-weight: 400;
}
.sc-since .sticky .sticky-inner .title-area .title-box .num.since-on::before {
  display: none;
}
.sc-since .sticky .sticky-inner .text-box {
  display: inline-block;
  position: relative;
  overflow: hidden;
  margin-left: 0.7rem;
}
.sc-since .sticky .sticky-inner .text-box .text {
  display: block;
  font-size: 4.3rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.02em;
}
.sc-since .sticky .sticky-inner .text-box .text:not(:first-child) {
  position: absolute;
  width: 100%;
}
.sc-since .sticky .sticky-inner .desc-box {
  position: relative;
  width: 100%;
  overflow: hidden;
  text-align: center;
}
.sc-since .sticky .sticky-inner .desc-box .desc {
  display: block;
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.02em;
}
.sc-since .sticky .sticky-inner .desc-box .desc:not(:first-child) {
  position: absolute;
  width: 100%;
}
.sc-since .sticky .sticky-inner .scroll-area {
  margin-top: 3.2rem;
  text-align: center;
}
.sc-since .sticky .sticky-inner .scroll-area .ico-box {
  width: 7.5rem;
  height: 7.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sc-since .sticky .sticky-inner .scroll-area .ico-box .ico {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("/assets/icons/arw-scroll-down.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  animation: scroll-down 1.5s infinite;
}
.sc-since .sticky .sticky-inner .scroll-area .scroll-text {
  font-size: 1.7rem;
  color: #6d6d6d;
  font-weight: 400;
}
.sc-since .bg-area {
  margin-top: calc(var(--vh) * -100);
}
.sc-since .bg-area .bg-box {
  display: flex;
  align-items: center;
  gap: 1.5%;
  height: 200vh;
}
.sc-since .bg-area .bg-box .bg {
  position: relative;
  width: 16.6%;
}
.sc-since .bg-area .bg-box.bg-top .bg {
  aspect-ratio: 320/780;
}
.sc-since .bg-area .bg-box.bg-top .bg:nth-child(1) {
  margin-top: 91rem;
}
.sc-since .bg-area .bg-box.bg-top .bg:nth-child(2) {
  margin-top: 50rem;
}
.sc-since .bg-area .bg-box.bg-top .bg:nth-child(3) {
  margin-top: 65rem;
  margin-left: auto;
}
.sc-since .bg-area .bg-box.bg-bottom .bg {
  aspect-ratio: 300/780;
}
.sc-since .bg-area .bg-box.bg-bottom .bg:nth-child(2) {
  margin-top: 65rem;
}
.sc-since .bg-area .bg-box.bg-bottom .bg:nth-child(3) {
  margin-top: 34.5rem;
  margin-left: auto;
}
.sc-since .bg-area .bg-box.bg-bottom .bg:nth-child(4) {
  margin-top: 91rem;
}

@keyframes scroll-down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(0);
  }
}
@media screen and (max-width: 1440px) {
  .sc-since .bg-area .bg-box .bg {
    width: 15.6%;
  }
}
@media screen and (max-width: 768px) {
  .sc-since .sticky {
    z-index: 10;
  }
  .sc-since .sticky .sticky-inner {
    justify-content: flex-start;
    padding-top: 16rem;
  }
  .sc-since .sticky .sticky-inner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to bottom, rgb(255, 255, 255) 40%, rgba(255, 255, 255, 0));
  }
  .sc-since .sticky .sticky-inner .title-area {
    position: relative;
    z-index: 10;
  }
  .sc-since .sticky .sticky-inner .title-area .title-box .num {
    display: flex;
    font-size: 7.8rem;
  }
  .sc-since .sticky .sticky-inner .title-area .title-box .num::before {
    font-size: 2.4rem;
  }
  .sc-since .sticky .sticky-inner .title-area .text-box {
    margin-left: 4px;
  }
  .sc-since .sticky .sticky-inner .title-area .text {
    font-size: 2.8rem;
  }
  .sc-since .sticky .sticky-inner .desc-box .desc {
    margin-top: 2px;
  }
  .sc-since .scroll-area {
    margin-top: 2.8rem;
    width: 10rem;
    height: 10rem;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sc-since .ico-scroll-down {
    width: 5.7rem;
    height: 5.7rem;
  }
  .sc-since .scroll-text {
    font-size: 2rem;
  }
  .sc-since .bg-area {
    overflow: hidden;
  }
  .sc-since .bg-area .bg-box {
    margin: 0 -7.5%;
  }
  .sc-since .bg-area .bg-box.bg-top .bg, .sc-since .bg-area .bg-box.bg-bottom .bg {
    width: 30%;
  }
  .sc-since .bg-area .bg-box.bg-top .bg:nth-child(1) {
    margin-top: 105.7rem;
  }
  .sc-since .bg-area .bg-box.bg-top .bg:nth-child(2) {
    margin-top: 16.1rem;
  }
  .sc-since .bg-area .bg-box.bg-top .bg:nth-child(3) {
    margin-top: 88.1rem;
  }
  .sc-since .bg-area .bg-box.bg-bottom .bg:nth-child(2) {
    margin-top: 88.1rem;
  }
  .sc-since .bg-area .bg-box.bg-bottom .bg:nth-child(3) {
    margin-top: 16.1rem;
  }
  .sc-since .bg-area .bg-box.bg-bottom .bg:nth-child(4) {
    margin-top: 105.7rem;
  }
}