.footer {
  position: relative;
  padding: 5rem 0 9rem 0;
  background-color: var(--blue);
  color: #fff;
}
.footer .logo {
  width: 10rem;
  min-width: 10rem;
  opacity: 0.2;
}
.footer .inner {
  width: 164rem;
  max-width: 100%;
  padding: 0 max(20px, 2rem);
  margin: 0 auto;
}
.footer .inner .cont {
  display: flex;
}
.footer .inner .cont .info_wrap {
  width: 100%;
  margin-left: 5rem;
}
.footer .inner .cont .info_wrap .info_top {
  display: flex;
  justify-content: space-between;
}
.footer .inner .cont .info_wrap .info_top .info_link {
  display: flex;
  gap: 3rem;
}
.footer .inner .cont .info_wrap .info_top .info_link a {
  font-size: 1.8rem;
}
.footer .inner .cont .info_wrap .info_top .info_link a:first-child {
  font-weight: 700;
}
.footer .inner .cont .info_wrap .info_top .sns_wrap {
  display: flex;
  gap: 1.9rem;
}
.footer .inner .cont .info_wrap .info_top .sns_wrap a {
  width: 2.3rem;
  height: 2rem;
}
.footer .inner .cont .info_wrap .info_top .sns_wrap a svg {
  fill: #fff;
  height: 100%;
  transition: fill 0.3s;
}
.footer .inner .cont .info_wrap .info_top .sns_wrap a:hover svg {
  fill: #83a4bd;
}
.footer .inner .cont .info_wrap .info_bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 2.5rem;
}
.footer .inner .cont .info_wrap .info_bottom .info_text {
  font-size: 1.5rem;
  opacity: 0.3;
}
.footer .inner .cont .info_wrap .info_bottom .info_text p {
  margin-top: 0.3rem;
}
.footer .inner .cont .info_wrap .info_bottom .info_text p:first-child {
  margin-top: 0;
}
.footer .inner .cont .info_wrap .info_bottom .info_text .copy {
  font-size: 1.2rem;
  margin-top: 1.5rem;
}
.footer .inner .cont .info_wrap .info_bottom .info_corp {
  display: flex;
  gap: 4rem;
}
.footer .inner .cont .info_wrap .info_bottom .info_corp .box {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.footer .inner .cont .info_wrap .info_bottom .info_corp .box .ico {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5.7rem;
  height: 5.7rem;
  background-color: var(--white);
  border-radius: 0.5rem;
}
.footer .inner .cont .info_wrap .info_bottom .info_corp .box .ico img, .footer .inner .cont .info_wrap .info_bottom .info_corp .box .ico svg {
  width: 65%;
}
.footer .inner .cont .info_wrap .info_bottom .info_corp .box p {
  font-size: 1.4rem;
  opacity: 0.6;
}
.footer .quick_menu {
  position: fixed;
  right: 2rem;
  top: 30%;
  z-index: 20;
  max-width: 9rem;
  transition: opacity 0.5s, transform 0.5s;
  transform: translateY(0);
  opacity: 0;
}
.footer .quick_menu.show {
  opacity: 1;
  transform: translateY(-2rem);
}
.footer .quick_menu .quick {
  padding: 2.5rem 1.5rem;
  background: linear-gradient(to bottom, #24a6ce 0%, #d26fa9 51%, #e57627 100%);
}
.footer .quick_menu .quick a {
  display: flex;
  flex-direction: column;
  align-items: center;
  word-break: keep-all;
  white-space: nowrap;
}
.footer .quick_menu .quick a:hover .ico {
  opacity: 1;
}
.footer .quick_menu .quick a .ico {
  margin-bottom: 0.4rem;
  width: 2.5rem;
  height: 2.5rem;
  opacity: 0.4;
  transition: opacity 0.3s;
}
.footer .quick_menu .quick a .ico.map svg {
  height: 2.5rem;
}
.footer .quick_menu .quick a span {
  font-size: 1.4rem;
}
.footer .quick_menu .quick a svg {
  fill: #fff;
}
.footer .quick_menu .quick a + a {
  margin-top: 3rem;
}
.footer .top_btn {
  margin-top: 1.6rem;
  background-color: var(--white);
  position: relative;
  padding-top: 100%;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.footer .top_btn > div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer .top_btn .ico {
  width: 2.4rem;
  height: 2.4rem;
}
.footer .top_btn .ico svg {
  fill: var(--blue);
}
.footer .top_btn span {
  color: var(--blue);
  margin-top: 1rem;
  font-size: 1.5rem;
}