.footer {
    position: relative;
    padding: 5rem 0 9rem 0;
    background-color: var(--blue);
    color: #fff;

    .logo {
        width: 10rem;
        min-width: 10rem;
        height: 6rem;
        opacity: 0.2;
        position: relative;

        img {
            object-fit: contain;
        }
    }

    .inner {
        width: 164rem;
        max-width: 100%;
        padding: 0 max(20px, 2rem);
        margin: 0 auto;

        .cont {
            display: flex;

            .info_wrap {
                width: 100%;
                margin-left: 5rem;

                .info_top {
                    display: flex;
                    justify-content: space-between;

                    .info_link {
                        display: flex;
                        gap: 3rem;

                        a {
                            font-size: 1.8rem;

                            &:first-child {
                                font-weight: 700;
                            }
                        }
                    }

                    .sns_wrap {
                        display: flex;
                        gap: 1.9rem;

                        a {
                            width: 2.3rem;
                            height: 2rem;

                            svg {
                                fill: #fff;
                                height: 100%;
                                transition: fill .3s;
                            }

                            &:hover {
                                svg {
                                    fill: #83a4bd;
                                }
                            }
                        }
                    }
                }

                .info_bottom {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                    margin-top: 2.5rem;

                    .info_text {
                        font-size: 1.5rem;
                        opacity: 0.3;

                        p {
                            margin-top: .3rem;

                            &:first-child {
                                margin-top: 0;
                            }
                        }

                        .copy {
                            font-size: 1.2rem;
                            margin-top: 1.5rem;
                        }
                    }

                    .info_corp {
                        display: flex;
                        gap: 4rem;

                        .box {
                            display: flex;
                            align-items: center;
                            gap: 1rem;

                            .ico {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: 5.7rem;
                                height: 5.7rem;
                                background-color: var(--white);
                                border-radius: 0.5rem;
                                aspect-ratio: 1 / 1;
                                position: relative;
                                padding: 0.75rem; // (57px - 42px) / 2 = 7.5px = 0.75rem

                                img,
                                svg {
                                    width: 4.2rem;
                                    height: 4.2rem;
                                    object-fit: contain;
                                }
                            }

                            p {
                                font-size: 1.4rem;
                                opacity: .6;
                            }
                        }
                    }
                }
            }
        }
    }

    .quick_menu {
        position: fixed;
        right: 2rem;
        top: 30%;
        z-index: 20;
        max-width: 9rem;
        transition: opacity .5s, transform .5s;
        transform: translateY(0);
        opacity: 0;

        &.show {
            opacity: 1;
            transform: translateY(-2rem);
        }

        .quick {
            padding: 2.5rem 1.5rem;
            background: linear-gradient(to bottom, #24a6ce 0%, #d26fa9 51%, #e57627 100%);

            a {
                display: flex;
                flex-direction: column;
                align-items: center;
                word-break: keep-all;
                white-space: nowrap;

                &:hover {
                    .ico {
                        opacity: 1;
                    }
                }

                .ico {
                    margin-bottom: 0.4rem;
                    width: 2.5rem;
                    height: 2.5rem;
                    opacity: .4;
                    transition: opacity .3s;
                    position: relative;

                    img,
                    svg {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }

                    &.map {
                        svg {
                            height: 2.5rem;
                        }
                    }
                }

                span {
                    font-size: 1.4rem;
                }

                svg {
                    fill: #fff;
                }
            }

            a+a {
                margin-top: 3rem;
            }
        }
    }

    .top_btn {
        margin-top: 1.6rem;
        background-color: var(--white);
        position: relative;
        padding-top: 100%;
        width: 100%;
        height: 100%;
        box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transition: all 0.4s;

        &:hover {
            background-color: var(--blue);

            .ico {
                svg {
                    fill: var(--white);
                }
            }

            span {
                color: var(--white);
            }
        }

        >div {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .ico {
            width: 2.4rem;
            height: 2.4rem;

            svg {
                fill: var(--blue);
            }
        }

        span {
            color: var(--blue);
            margin-top: 1rem;
            font-size: 1.5rem;
        }
    }
}

@media screen and (max-width: 1200px) {
    .footer {
        padding-bottom: 12rem;

        .logo {
            min-width: auto;
        }

        .inner {
            .cont {
                .info_wrap {
                    .info_top {
                        flex-direction: column;

                        .sns_wrap {
                            margin-top: 5rem;
                            gap: 2.9rem;

                            a {
                                width: 3rem;
                                height: 2.6rem;
                            }
                        }
                    }

                    .info_bottom {
                        flex-direction: column;
                        align-items: flex-start;

                        .info_text {
                            .copy {
                                font-size: 12px;
                            }
                        }

                        .info_corp {
                            margin-top: 3rem;
                        }
                    }
                }
            }
        }

        .quick_menu {
            right: auto;
            top: auto;
            left: 0;
            bottom: 0;
            transform: translateY(0);
            width: 100%;
            max-width: 100%;
            opacity: 1;

            &.show {
                transform: translateY(0);
            }

            .quick {
                display: flex;
                width: 100%;
                border-radius: 20px 20px 0 0;
                padding: 0;
                background: linear-gradient(to right,
                        #24a6ce 0%,
                        #d26fa9 51%,
                        #e57627 100%);

                a {
                    width: 100%;
                    padding: 12px 0;
                    position: relative;

                    &+a {
                        margin-top: 0;
                        border-left: 1px solid rgba(255, 255, 255, 0.1);
                    }
                }
            }

            .top_btn {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .footer {
        .logo {
            display: none;
        }

        .inner {
            .cont {
                .info_wrap {
                    margin-left: 0;

                    .info_top {
                        .info_link {
                            flex-wrap: wrap;
                            gap: 1rem 2rem;
                        }
                    }

                    .info_bottom {
                        .info_corp {
                            gap: 1rem;

                            .box {
                                .ico {
                                    width: 4rem;
                                    height: 4rem;
                                }

                                p {
                                    font-size: 1.2rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}