.header {
  position:relative;
  left:0;
  top:0;
  width:100%;
  z-index:500;
  background-color: var(--white);
  padding:0 2.5%;
  height:10rem;
  box-shadow:0 0 10px 0 rgba(0, 0, 0, 0.08);
}

.container {
  margin: 0 auto;
  height:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inner {
  display:flex;
  align-items: center;
  justify-content: space-between;
  width:100%;
}

.logo {
  display:flex;
  align-items: center;
  a {
    img {
      width:22rem;
    }
  }
}

.navigation {
  ul {
    display:flex;
    li {
      padding:0 3.5rem;
      font-size:1.75rem;
      a {
        color:var(--blue);
        font-weight:700;
      }
    }
  }
}

.btn_box {
  display:flex;
  margin-left:1.5rem;
  background-color:#dbdee1;
  border-radius:5rem;
  a {
    width:8.25rem;
    font-size:1.5rem;
    padding:0.3rem 1.5rem;
    font-weight:700;
    border-radius:5rem;
    text-align:center;
    opacity:0.3;
    &.active {
      background-color:var(--blue);
      color:var(--white);
      opacity:1;
    }
    &:last-child {
      margin-left:-1rem;
    }
  }
}

.util_wrap {
  display:flex;
  .select {
    select {
      display:none;
    }
  }
  .Nice_select {
    position:relative;
    display:flex;
    width:5.5rem;
    height:2.8rem;
    padding-left:.8rem;
    padding-right:1rem;
    background-color:transparent;
    font-size:1.3rem;
    font-weight:500;
    line-height:2.7rem;
    z-index:11;
    border:1px solid var(--blue);
    border-radius:0;
    margin-right:3.5rem;
    cursor:pointer;
    &::after {
      position:absolute;
      top:50%;
      content:'';
      right: 9px;
      width: 0.4rem;
      height: 0.4rem;
      margin-top: -4px;
      border-bottom: 1.5px solid var(--blue);
      border-right: 1.5px solid var(--blue);
      transition: all 0.15s ease-in-out;
      transform-origin: 66% 66%;
      transform:rotate(45deg);
    }
    ul {
      position:absolute;
      width:calc(100% + 2px);
      left:-1px;
      top:2.6rem;
      border:1px solid var(--blue);
      opacity:0;
      &.on {
        opacity:1;
      }
      .option {
        min-height:3rem;
        line-height:3rem;
        padding:0 1rem 0 0.8rem;
        background-color:var(--white);
        & + .option {
          border-top: 1px solid rgba(23, 51, 72, 0.25);
        }
        &:hover {
          background-color:#f6f6f6;
        }
        &.focus {
          background-color:#f6f6f6;
          font-weight:700;
        }
      }
    }
  }
  .util_box {
    display:flex;
    align-items: center;
    justify-content: flex-end;
    button + button {
      margin-left:3.5rem;
    }
  }
}

.all_sch {
  position:absolute;
  top:100%;
  left:0;
  display:flex;
  width:100%;
  height:30rem;
  background:var(--blue);
  align-items: center;
  justify-content: center;
  transition:opacity 0.3s;
  opacity:0;
  pointer-events:none;
  &.on {
    opacity:1;
    pointer-events:auto;
  }
  .sch_box {
    display:flex;
  }
  .inp_box {
    width:46rem;
    height:6rem;
    background-color:var(--white);
    border-radius:36rem;
    overflow:hidden;
    display:flex;
    justify-content: center;
    input {
      line-height:55rem;
      padding:0 2rem;
      font-weight:500;
      width:85%;
      height:100%;
      background-color:transparent;
      font-size:1.6rem;
      border:none;
      outline:none;
      color:var(--blue);
      &::placeholder {
        color: #777;
        font-weight:400;
      }
    }
  }
  .close_btn {
    margin-left:1.6rem;
  }
}