.header {
  position:fixed;
  left:0;
  top:0;
  width:100%;
  z-index:500;
  background-color: var(--white);
  padding:0 2.5%;
  height:10rem;
  transition: top 0.3s;
  // header on Class 효과
  &.on {
    .container {
      .navigation {
        .gnb_bg {
          &::before {
            height:44rem;
            transition:height .3s ease-in-out;
            border-top:1px solid #d3d8e1;
            box-shadow: 0px 8px 8px 3px rgba(0, 0, 0, 0.03);
          }
        }
        .depth2 {
          opacity:1;
          pointer-events: all;
          transition:all .4s ease-in-out;
          transition-delay:.05s;
        }
      }
    }
  }
  &.down {
    top:-10rem;
    transition: top 0.3s;
  }
  &.fixed {
    box-shadow:0 0 10px 0 rgba(0, 0, 0, 0.08);
  }
}

.container {
  margin: 0 auto;
  height:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .navigation {
    height:100%;
    z-index:10;
    > .depth1 {
      display:flex;
      align-items: center;
      height:100%;
      > li {
        position:relative;
        font-size:1.75rem;
        height:100%;
        .textWrapper {
          position:relative;
          &::before {
            display:block;
            content:'';
            width:0;
            height:.2rem;
            background-color:var(--blue);
            position:absolute;
            left:0;
            bottom:-1rem;
            transition:width .4s ease-in-out;
          }
        }
        &:hover {
          .textWrapper {
            &::before {
              width:100%;
            }
          }
        }
        > a {
          display:flex;
          align-items: center;
          color:var(--blue);
          font-weight:700;
          padding:0 3.5rem; 
          height:100%;
        }
      }
      .depth2 {
        position:absolute;
        top:100%;
        padding-top:2rem;
        text-align:center;
        width:100%;
        opacity:0;
        pointer-events: none;
        li {
          a {
            display:flex;
            justify-content: center;
            align-items: center;
            padding:0.85rem 3rem;
            white-space: nowrap;
            text-align:center;
            font-size:1.7rem;
            height:5rem;
            color:var(--blue);
            transition:text-shadow .1s;
            &:hover {
              text-shadow:.03rem .03rem .03rem var(--blue);
            }
          }
        }
        z-index:10;
      }
      .depth3 {
        display:none;
      }
    }
    .charWrap {
      display: inline-block;
      overflow: hidden;
      vertical-align: top;
      line-height: 1;
      height: 2.4rem;
    }
    .gnb_bg {
      position:relative;
      width:100%;
      &::before {
        display:block;
        content:'';
        width:220%;
        height:0;
        left:-70%;
        position:absolute;
        top:0;
        background-color:var(--white);
      }
    }
  }
}

.inner {
  display:flex;
  align-items: center;
  justify-content: space-between;
  width:100%;
  height:100%;
}

.logo {
  display:flex;
  align-items: center;
  height:100%;
  a {
    img {
      width:22rem;
    }
  }
}



:global(.char) {
  display: inline-block;
  text-shadow:0 2.4rem 0 var(--blue);
}


.btn_box {
  display:flex;
  margin-left:1.5rem;
  background-color:#dbdee1;
  border-radius:5rem;
  a {
    width:8.25rem;
    font-size:1.5rem;
    padding:0.3rem 1.5rem;
    font-weight:700;
    border-radius:5rem;
    text-align:center;
    opacity:0.3;
    &.active {
      background-color:var(--blue);
      color:var(--white);
      opacity:1;
    }
    &:last-child {
      margin-left:-1rem;
    }
  }
}

.util_wrap {
  display:flex;
  align-items: center;
  height:100%;
  .select {
    select {
      display:none;
    }
  }
  .Nice_select {
    height:100%;
    position:relative;
    display:flex;
    width:5.5rem;
    height:2.8rem;
    padding-left:.8rem;
    padding-right:1rem;
    background-color:transparent;
    font-size:1.3rem;
    font-weight:500;
    line-height:2.7rem;
    z-index:11;
    border:1px solid var(--blue);
    border-radius:0;
    margin-right:3.5rem;
    cursor:pointer;
    &.on {
      ul {
        opacity:1;
      }
      &::after {
        transform:rotate(-130deg);
      }
    }
    &::after {
      position:absolute;
      top:50%;
      content:'';
      right: 9px;
      width: 0.4rem;
      height: 0.4rem;
      margin-top: -4px;
      border-bottom: 1.5px solid var(--blue);
      border-right: 1.5px solid var(--blue);
      transition: all 0.15s ease-in-out;
      transform-origin: 66% 66%;
      transform:rotate(45deg);
    }
    ul {
      position:absolute;
      width:calc(100% + 2px);
      left:-1px;
      top:2.6rem;
      border:1px solid var(--blue);
      opacity:0;
      .option {
        min-height:3rem;
        line-height:3rem;
        padding:0 1rem 0 0.8rem;
        background-color:var(--white);
        & + .option {
          border-top: 1px solid rgba(23, 51, 72, 0.25);
        }
        &:hover {
          background-color:#f6f6f6;
        }
        &.focus {
          background-color:#f6f6f6;
          font-weight:700;
        }
      }
    }
  }
  .util_box {
    height:100%;
    position:relative;
    display:flex;
    align-items: center;
    justify-content: flex-end;
    button + button {
      margin-left:3.5rem;
    }
  }
}

.all_sch {
  position:absolute;
  top:100%;
  left:0;
  display:flex;
  width:100%;
  height:30rem;
  background:var(--blue);
  align-items: center;
  justify-content: center;
  transition:opacity 0.3s;
  opacity:0;
  pointer-events:none;
  &.on {
    opacity:1;
    pointer-events:auto;
  }
  .sch_box {
    display:flex;
  }
  .inp_box {
    width:46rem;
    height:6rem;
    background-color:var(--white);
    border-radius:36rem;
    overflow:hidden;
    display:flex;
    justify-content: center;
    input {
      line-height:55rem;
      padding:0 2rem;
      font-weight:500;
      width:85%;
      height:100%;
      background-color:transparent;
      font-size:1.6rem;
      border:none;
      outline:none;
      color:var(--blue);
      &::placeholder {
        color: #777;
        font-weight:400;
      }
    }
  }
  .close_btn {
    margin-left:1.6rem;
  }
}

.share_area {
  background:var(--blue);
  width:7rem;
  position:absolute;
  top:100%;
  left:50%;
  transform:translateX(-50%);
  transition: height 0.5s, width 0s ease-in-out, opacity 0.5s;
  display:flex;
  flex-direction: column;
  align-items: center;
  gap:2.6rem;
  padding:2rem 0;
  height:0;
  opacity:0;
  a {
    opacity:.7;
    &:hover {
      opacity:1;
    }
    &.facebook {
      width:1.3rem;
    }
    &.kakao {
      width:2.3rem;
    }
    &.blog {
      width:2.2rem;
    }
    &.twit {
      width:2rem;
    }
    &.share {
      width:2rem;
    }
  }
  &.on {
    height:26.5rem;
    opacity:1;
  }
}

.site_map {
  position:fixed;
  left:100%;
  top:0;
  width:100%;
  height:100%;
  background-color:var(--blue);
  color:var(--white);
  z-index:20;
  transition:left .7s ease;
  &.on {
    left:0;
  }
  .cont {
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
    max-width:164rem;
    width:100%;
    padding:0 3rem;
    .top {
      position:relative;
      display:flex;
      align-items:flex-end;
      line-height:1;
      padding:0 3rem 3.5rem;
      margin-bottom:5rem;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      h1 {
        font-family:var(--serif);
        font-size:7rem;
      }
      .ico_wrap {
        margin-left:2rem;
        button {
          border:1px solid #fff;
          padding:0.7rem 1.5rem;
          color:#fff;
          border-radius:5rem;
          font-size:1.8rem;
          line-height:1.5;
        }
      }
      .close_btn {
        position:absolute;
        right:0;
        width:6rem;
        height:6rem;
        padding:0 1.5rem;
        display:flex;
        align-items: center;
        border-radius:100%;
        border:1px solid #fff;
        cursor:pointer;
        svg {
          width:2.9rem;
          height:2.9rem;
          transform:rotate(0);
          transition:transform .4s;
        }
        &:hover {
          svg {
            transform:rotate(180deg);
          }
        }
      }
    }
  }
  .navigation {
    padding:0 3rem;
  }
  .depth1 {
    display:flex;
    justify-content: space-between;
    font-weight:600;
    > li {
      & + li {
        margin-left:7rem;
      }
      > a {
        font-size:2.4rem;
      }
    }
  }
  .depth2 {
    margin-top:4rem;
    > li {
      > a {
        display:inline-block;
        font-size:1.7rem;
        padding:0.7rem 0;
        font-weight:400;
      }
    }
  }
  .depth3 {
    > li {
      a {
        display:flex;
        font-weight:200;
        padding:0.7rem 0 0.7rem 0.7rem;
      }
    }
  }
}