.sc-service {
  position: relative;
  z-index: 5;
}
.sc-service .pc {
  display: block;
}
.sc-service .mo {
  display: none;
}
.sc-service .sticky {
  position: sticky;
  top: 0;
  height: calc(var(--svh) * 100);
  overflow: hidden;
  z-index: 10;
}
.sc-service .title-wrap {
  position: relative;
  z-index: 20;
  height: calc(var(--vh) * 200);
  pointer-events: none;
}
.sc-service .title-wrap .title-area {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(var(--svh) * 100);
}
.sc-service .title-wrap .title-area .title {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 45.2rem;
  height: 45.2rem;
  border-radius: 50%;
  overflow: hidden;
}
.sc-service .title-wrap .title-area .title .bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgb(77, 176, 130) 0%, rgb(47, 166, 206) 100%);
}
.sc-service .title-wrap .title-area .title .img {
  position: relative;
  width: 22.7rem;
  aspect-ratio: 227/109;
}
.sc-service .title-wrap .title-area .title .img img {
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
  -o-object-fit: contain;
     object-fit: contain;
}
.sc-service .title-wrap .title-area .title .img img.show {
  opacity: 1;
  visibility: visible;
}
.sc-service .slide-wrap {
  position: relative;
  margin-top: calc(var(--vh) * -200);
  height: calc(var(--vh) * 400);
  color: #fff;
}
.sc-service .slide-wrap .img-area {
  position: relative;
}
.sc-service .slide-wrap .img-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 26%;
  max-width: 50rem;
  aspect-ratio: 500/660;
  z-index: 10;
  transform: translate(-50%, -50%);
}
.sc-service .slide-wrap .img-box .img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
}
.sc-service .slide-wrap .img-box .img.show {
  opacity: 1;
  visibility: visible;
}
.sc-service .slide-wrap .img-box .img:nth-child(1) {
  z-index: 4;
}
.sc-service .slide-wrap .img-box .img:nth-child(2) {
  z-index: 3;
}
.sc-service .slide-wrap .img-box .img:nth-child(3) {
  z-index: 2;
}
.sc-service .slide-wrap .img-box .img:nth-child(4) {
  z-index: 1;
}
.sc-service .wave {
  position: relative;
  filter: blur(3vw);
  top: -3vw;
}
.sc-service .wave::before, .sc-service .wave::after {
  content: "";
  display: block;
  position: absolute;
  top: calc(var(--vh) * -2);
  left: calc(100% - 17px);
  width: 200vw;
  height: 33.84615vw;
  background: url("/assets/main/wave_w.webp") 100%/100% auto;
  animation: wave 10.2s cubic-bezier(0, 0, 0.9, 0.98) both infinite;
  pointer-events: none;
}
.sc-service .wave::before {
  left: 0;
}
.sc-service .marquee-area {
  position: absolute;
  left: 0;
  bottom: 8.3rem;
  z-index: -1;
  display: flex;
  gap: 4rem;
}
.sc-service .marquee-area .marquee-text {
  font-weight: 700;
  font-size: 21rem;
  line-height: 1.3;
  color: rgba(255, 255, 255, 0.2);
  white-space: nowrap;
  animation: marqueeX 120s linear infinite forwards;
}
.sc-service .sticky-wrap {
  position: absolute;
}
.sc-service .nav {
  position: absolute;
  top: calc(31.5217391304 * var(--vh));
  right: 71.5625%;
  z-index: 10;
  text-align: right;
}
.sc-service .nav .nav-list {
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
  margin-top: 2.8rem;
}
.sc-service .nav .text {
  font-size: 1.8rem;
  line-height: 1.3;
}
.sc-service .nav .nav-item {
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.3;
  transition: 0.3s ease;
}
.sc-service .nav .nav-item.active {
  font-weight: 700;
  font-size: 4rem;
}
.sc-service .nav .nav-item.active a {
  text-shadow: 0px 2px 20px rgba(0, 0, 0, 0.2);
}
.sc-service .service-item {
  position: relative;
  width: 100%;
  height: calc(var(--vh) * 100);
}
.sc-service .bg-area {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.sc-service .bg-area .bg-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
}
.sc-service .bg-area .bg-item.active {
  opacity: 1;
  visibility: visible;
}
.sc-service .bg-area .bg-item:nth-child(1) {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 75.98%, #fff 100%), linear-gradient(98deg, #2363b1 2.58%, #5ccac1 50.63%, #f2b155 97.73%);
}
.sc-service .bg-area .bg-item:nth-child(2) {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 75.98%, #fff 100%), linear-gradient(97deg, #5a80b5 2.49%, #8185cc 46.73%, #c3af9c 90.96%);
}
.sc-service .bg-area .bg-item:nth-child(3) {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 75.98%, #fff 100%), linear-gradient(98deg, #c39f9d 5.74%, #69b4bf 90.91%);
}
.sc-service .bg-area .bg-item:nth-child(4) {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 75.98%, #fff 100%), linear-gradient(98deg, #7eafec 5.74%, #e6d2e0 48.32%, #bc6d38 90.91%);
}
.sc-service .text-wrap {
  position: absolute;
  top: calc(32.6086956522 * var(--vh));
  left: 67.1875vw;
  right: 8.3vw;
  max-width: 47rem;
}
.sc-service .text-wrap .text-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
}
.sc-service .text-wrap .text-area.active {
  opacity: 1;
  visibility: visible;
}
.sc-service .text-wrap .text-area .text {
  font-size: 2rem;
  line-height: 1.3;
}
.sc-service .text-wrap .text-area .desc,
.sc-service .text-wrap .text-area .title-box {
  text-shadow: 0px 2px 20px rgba(0, 0, 0, 0.2);
}
.sc-service .text-wrap .text-area .title {
  display: block;
  font-weight: 700;
  font-size: 4rem;
  line-height: 1.3;
  margin-top: 0.4rem;
  word-break: keep-all;
}
.sc-service .text-wrap .text-area .desc {
  margin-top: 3rem;
  font-size: 2rem;
  line-height: 1.6;
  letter-spacing: -0.3px;
}
.sc-service .text-wrap .text-area .link-service {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: 1.5px solid #fff;
  background-color: rgba(255, 255, 255, 0.2);
}
.sc-service .text-wrap .text-area .ico-service {
  width: 2.4rem;
  height: 2.4rem;
  background: url("/assets/main/arw-down.svg") no-repeat center center/100% auto;
  transform: rotate(-90deg);
}
.sc-service .bg_txt_area {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  top: calc(100vh - 280px);
  z-index: -1;
}
.sc-service .bg_txt_area img {
  max-width: unset;
  width: -moz-fit-content;
  width: fit-content;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.sc-service .bg_txt_area img:first-child {
  animation: rolltxt 120s linear infinite;
  padding-right: 100px;
}
.sc-service .bg_txt_area img:last-child {
  animation: rolltxt2 120s linear infinite;
  padding-right: 100px;
}

@keyframes rolltxt {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-100%);
  }
  50.1% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes rolltxt2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200%);
  }
}
@keyframes marqueeX {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes wave {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200vw);
  }
}
@media screen and (max-width: 768px) {
  .sc-service {
    margin-top: 0;
  }
  .sc-service .pc {
    display: none;
  }
  .sc-service .mo {
    display: block;
  }
  .sc-service .text-wrap {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 50%;
    max-width: 90%;
    width: 100%;
    height: 35%;
    transform: translate(-50%, 0);
  }
  .sc-service .sticky {
    min-height: 860px;
  }
  .sc-service .swiper-service {
    height: 100%;
  }
  .sc-service .swiper-service :global(.swiper-wrapper) {
    padding: 0 10px;
  }
  .sc-service .swiper-service :global(.swiper-slide) {
    padding: 100px 0 20px;
    width: 70%;
    max-width: 34rem;
  }
  .sc-service .swiper-service .num {
    font-weight: 700;
    font-size: 3.4rem;
    line-height: 1.3;
    padding-left: 20px;
  }
  .sc-service .swiper-service .link {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 8.6rem;
    height: 8.6rem;
    border-radius: 50%;
    background: url("/assets/main/arw-down.svg") no-repeat center center/2.8rem 2.8rem #333;
    transform: rotate(-90deg);
  }
  .sc-service .slide-wrap .img-box {
    position: relative;
    top: unset;
    left: unset;
    width: 100%;
    max-width: unset;
    margin-top: 4.3rem;
    transform: translate(0);
    aspect-ratio: 500/660;
  }
  .sc-service .slide-wrap .img-box .img {
    visibility: visible;
    opacity: 1;
    z-index: 10;
  }
  .sc-service .slide-wrap .wave {
    position: absolute;
    top: 5rem;
  }
}