.sc-service {
  position: relative;
  // margin-top: calc(var(--svh) * -50);
  z-index: 5;

  .pc {
    display: block;
  }

  .mo {
    display: none;
  }

  .sticky {
    position: sticky;
    top: 0;
    height: calc(var(--svh) * 100);
    overflow: hidden;
    z-index: 10;
  }

  .title-wrap {
    position: relative;
    z-index: 20;
    height: calc(var(--vh) * 200);
    pointer-events: none;

    .title-area {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: calc(var(--svh) * 100);

      .title {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 45.2rem;
        height: 45.2rem;
        border-radius: 50%;
        overflow: hidden;

        .bg {
          position: absolute;
          width: 100%;
          height: 100%;
          background: linear-gradient(90deg,
              rgba(77, 176, 130, 1) 0%,
              rgba(47, 166, 206, 1) 100%);
        }

        .img {
          position: relative;
          width: 22.7rem;
          aspect-ratio: 227 / 109;

          img {
            width: 100%;
            height: 100%;
            opacity: 0;
            visibility: hidden;
            transition: 0.3s ease;
            object-fit: contain;

            &.show {
              opacity: 1;
              visibility: visible;
            }
          }
        }
      }
    }
  }

  .slide-wrap {
    position: relative;
    margin-top: calc(var(--vh) * -200);
    height: calc(var(--vh) * 400);
    color: #fff;

    .img-area {
      position: relative;
    }

    .img-box {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 26%;
      max-width: 50rem;
      aspect-ratio: 500 / 660;
      z-index: 10;
      transform: translate(-50%, -50%);

      .img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        visibility: hidden;
        transition: 0.3s ease;

        &.show {
          opacity: 1;
          visibility: visible;
        }

        &:nth-child(1) {
          z-index: 4;
        }

        &:nth-child(2) {
          z-index: 3;
        }

        &:nth-child(3) {
          z-index: 2;
        }

        &:nth-child(4) {
          z-index: 1;
        }
      }
    }
  }

  .wave {
    position: relative;
    filter: blur(3vw);
    top: -3vw;

    &::before,
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: calc(var(--vh) * -2);
      left: calc(100% + -17px);
      width: 200vw;
      height: 33.84615vw;
      background: url("/assets/main/wave_w.webp") 100% / 100% auto;
      animation: wave 10.2s cubic-bezier(0, 0, 0.9, 0.98) both infinite;
      pointer-events: none;
    }

    &::before {
      left: 0;
    }
  }

  .marquee-area {
    position: absolute;
    left: 0;
    bottom: 8.3rem;
    z-index: -1;
    display: flex;
    gap: 4rem;

    .marquee-text {
      font-weight: 700;
      font-size: 21rem;
      line-height: 1.3;
      color: rgba(255, 255, 255, 0.2);
      white-space: nowrap;
      animation: marqueeX 120s linear infinite forwards;
    }
  }

  .sticky-wrap {
    position: absolute;
  }

  .nav {
    position: absolute;
    top: calc(290 / 920 * 100 * var(--vh));
    right: 71.5625%;
    z-index: 10;
    text-align: right;

    .nav-list {
      display: flex;
      flex-direction: column;
      gap: 2.8rem;
      margin-top: 2.8rem;
    }

    .text {
      font-size: 1.8rem;
      line-height: 1.3;
    }

    .nav-item {
      font-weight: 600;
      font-size: 2rem;
      line-height: 1.3;
      transition: 0.3s ease;

      &.active {
        font-weight: 700;
        font-size: 4rem;

        a {
          text-shadow: 0px 2px 20px rgba(0, 0, 0, 0.2);
        }
      }
    }
  }

  .service-item {
    position: relative;
    width: 100%;
    height: calc(var(--vh) * 100);
  }

  .bg-area {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .bg-item {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      visibility: hidden;
      transition: 0.3s ease;

      &.active {
        opacity: 1;
        visibility: visible;
      }

      &:nth-child(1) {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 75.98%, #fff 100%),
          linear-gradient(98deg, #2363b1 2.58%, #5ccac1 50.63%, #f2b155 97.73%);
      }

      &:nth-child(2) {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 75.98%, #fff 100%),
          linear-gradient(97deg, #5a80b5 2.49%, #8185cc 46.73%, #c3af9c 90.96%);
      }

      &:nth-child(3) {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 75.98%, #fff 100%),
          linear-gradient(98deg, #c39f9d 5.74%, #69b4bf 90.91%);
      }

      &:nth-child(4) {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 75.98%, #fff 100%),
          linear-gradient(98deg, #7eafec 5.74%, #e6d2e0 48.32%, #bc6d38 90.91%);
      }
    }
  }

  .text-wrap {
    position: absolute;
    top: calc(300 / 920 * 100 * var(--vh));
    left: calc(1290 / 1920 * 100vw);
    right: 8.3vw;
    max-width: 47rem;

    .text-area {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      opacity: 0;
      visibility: hidden;
      transition: 0.3s ease;

      &.active {
        opacity: 1;
        visibility: visible;
      }

      .text {
        font-size: 2rem;
        line-height: 1.3;
      }

      .desc,
      .title-box {
        text-shadow: 0px 2px 20px rgba(0, 0, 0, 0.2);
      }

      .title {
        display: block;
        font-weight: 700;
        font-size: 4rem;
        line-height: 1.3;
        margin-top: 0.4rem;
        word-break: keep-all;
      }

      .desc {
        margin-top: 3rem;
        font-size: 2rem;
        line-height: 1.6;
        letter-spacing: -0.3px;
      }

      .link-service {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 4rem;
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
        border: 1.5px solid #fff;
        background-color: rgba(255, 255, 255, 0.2);
      }

      .ico-service {
        width: 2.4rem;
        height: 2.4rem;
        background: url("/assets/main/arw-down.svg") no-repeat center center / 100% auto;
        transform: rotate(-90deg);
      }
    }
  }

  .bg_txt_area {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    top: calc(100vh - 280px);
    z-index: -1;

    img {
      max-width: unset;
      width: fit-content;
      object-fit: cover;

      &:first-child {
        animation: rolltxt 120s linear infinite;
        padding-right: 100px;
      }

      &:last-child {
        animation: rolltxt2 120s linear infinite;
        padding-right: 100px;
      }
    }
  }
}

@keyframes rolltxt {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-100%);
  }

  50.1% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes rolltxt2 {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-200%);
  }
}

@keyframes marqueeX {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes wave {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-200vw);
  }
}

@media screen and (max-width: 768px) {
  .sc-service {
    margin-top: 0;

    .pc {
      display: none;
    }

    .mo {
      display: block;
    }

    .text-wrap {
      position: absolute;
      top: auto;
      bottom: 0;
      left: 50%;
      max-width: 90%;
      width: 100%;
      height: 35%;
      transform: translate(-50%, 0);
    }

    .sticky {
      min-height: 860px;
    }

    .swiper-service {
      height: 100%;

      :global(.swiper-wrapper) {
        padding: 0 10px;
      }

      :global(.swiper-slide) {
        padding: 100px 0 20px;
        width: 70%;
        max-width: 34rem;
      }

      .num {
        font-weight: 700;
        font-size: 3.4rem;
        line-height: 1.3;
        padding-left: 20px;
      }

      .link {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 8.6rem;
        height: 8.6rem;
        border-radius: 50%;
        background: url("/assets/main/arw-down.svg") no-repeat center center / 2.8rem 2.8rem #333;
        transform: rotate(-90deg);
      }
    }

    .slide-wrap {
      .img-box {
        position: relative;
        top: unset;
        left: unset;
        width: 100%;
        max-width: unset;
        margin-top: 4.3rem;
        transform: translate(0);
        aspect-ratio: 500 / 660;

        .img {
          visibility: visible;
          opacity: 1;
          z-index: 10;
        }
      }

      .wave {
        position: absolute;
        top: 0;
      }
    }
  }
}