.mainSlider {
  position: relative;
  padding: 36% 14rem 0;
}
.mainSlider :global(.swiper) {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 95%;
  height: 100%;
}
.mainSlider :global(.swiper) img, .mainSlider :global(.swiper) video {
  height: 100%;
}
.mainSlider :global(.swiper-wrapper) {
  overflow: hidden;
}
.mainSlider :global(.swiper-slide)::before {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}
.mainSlider :global(.swiper-slide-active) .text_box .subtxt span {
  transform: translateY(0);
}
.mainSlider :global(.swiper-slide-active) .text_box .title p {
  transform: translateY(0);
}
.mainSlider .text_box {
  position: absolute;
  top: 47%;
  left: 12%;
  transform: translateY(-50%);
  color: var(--white);
  line-height: 1.3;
}
.mainSlider .text_box .subtxt {
  font-size: 2.6rem;
  overflow: hidden;
}
.mainSlider .text_box .subtxt span {
  display: block;
  word-break: keep-all;
  transform: translateY(100%);
  transition: transform 0.6s;
  transition-delay: 0.4s;
}
.mainSlider .text_box .title {
  margin-top: 1.5rem;
  font-size: 6.9rem;
  font-weight: 600;
}
.mainSlider .text_box .title > div {
  overflow: hidden;
}
.mainSlider .text_box .title > div p {
  transform: translateY(100%);
  transition: transform 1s;
  transition-delay: 0.6s;
  display: block;
}
.mainSlider .text_box .title > div:last-child p {
  transition-delay: 1s;
}
.mainSlider .text_box :global(.btn_theme_1) {
  margin-top: 7rem;
  border-color: #fff;
  background-color: transparent;
  color: var(--white);
}
.mainSlider .text_box :global(.btn_theme_1):hover {
  color: var(--blue);
}
.mainSlider .text_box :global(.btn_theme_1)::before {
  background-color: var(--white);
}
.mainSlider .swiper-option-box {
  position: absolute;
  left: 14.5%;
  bottom: 10%;
  text-align: center;
  z-index: 10;
  display: flex;
  gap: 9rem;
}
.mainSlider .swiper-custom-pagination {
  position: static;
}
.mainSlider .custom-bullet {
  background-color: var(--white);
  position: relative;
  top: 0.8rem;
  margin: 0;
}
.mainSlider .custom-bullet::before {
  display: block;
  content: "";
  width: 4rem;
  height: 4rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0 !important;
}
.mainSlider .custom-bullet + .custom-bullet {
  margin-left: 6.6rem;
}
.mainSlider .custom-bullet svg {
  width: 4rem;
  height: 4rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  stroke-dasharray: 0;
  stroke-dashoffset: 0;
  z-index: 10;
  max-width: none;
}
.mainSlider .numbering {
  display: flex;
  font-family: var(--NotoSerif);
  color: var(--white);
  display: flex;
  align-items: center;
}
.mainSlider .numbering .current {
  position: relative;
  top: -0.6rem;
  font-size: 2.3rem;
}
.mainSlider .numbering .bar {
  margin: 0 0.5rem 0 1rem;
}