.mainSlider {
    position:relative;
    padding: 36% 14rem 0;
    :global(.swiper) {
        position:absolute;
        left:50%;
        top:0;
        transform:translateX(-50%);
        width:95%;
        height:100%;
        img, video {
            height:100%;
        }
    }
    :global(.swiper-wrapper) {
        overflow:hidden;
    }
    .text_box {
        position:absolute;
        top:47%;
        left:12%;
        transform:translateY(-50%);
        color:var(--white);
        line-height:1.3;
        .subtxt {
            font-size:2.6rem;
        }
        .title {
            margin-top:1.5rem;
            font-size:6.9rem;
            font-weight:600;
        }
        :global(.btn_theme_1) {
            margin-top: 7rem;
            border-color: #fff;
            background-color: transparent;
            color:var(--white);
            &:hover {
                color:var(--blue);
            }
            &::before {
                background-color:var(--white);
            }
        }
    }
}

