.mainSlider {
  position: relative;
  padding: 36% 14rem 0;
}
.mainSlider .pc {
  display: block;
}
.mainSlider .mo {
  display: none;
}
.mainSlider :global(.swiper) {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 95%;
  height: 100%;
}
.mainSlider :global(.swiper) img,
.mainSlider :global(.swiper) video {
  height: 100%;
}
.mainSlider :global(.swiper-wrapper) {
  overflow: hidden;
}
.mainSlider :global(.swiper-slide)::before {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  z-index: 1;
}
.mainSlider :global(.swiper-slide-active) .swiper-pagination-bullet-active {
  background: transparent;
}
.mainSlider :global(.swiper-slide-active) .text_box {
  z-index: 2;
}
.mainSlider :global(.swiper-slide-active) .text_box .subtxt span {
  transform: translateY(0);
  transition: transform 0.6s;
  transition-delay: 0.4s;
}
.mainSlider :global(.swiper-slide-active) .text_box .title > div p {
  transform: translateY(0);
  transition: transform 1s;
  transition-delay: 0.6s;
}
.mainSlider :global(.swiper-slide-active) .text_box .title > div:last-child p {
  transition-delay: 1s;
}
.mainSlider .text_box {
  position: absolute;
  top: 47%;
  left: 12%;
  transform: translateY(-50%);
  color: var(--white);
  line-height: 1.3;
}
.mainSlider .text_box .subtxt {
  font-size: 2.6rem;
  overflow: hidden;
}
.mainSlider .text_box .subtxt span {
  display: block;
  word-break: keep-all;
  transform: translateY(100%);
}
.mainSlider .text_box .title {
  margin-top: 1.5rem;
  font-size: 6.9rem;
  font-weight: 600;
}
.mainSlider .text_box .title > div {
  overflow: hidden;
}
.mainSlider .text_box .title > div p {
  transform: translateY(100%);
  display: block;
}
.mainSlider .text_box :global(.btn_theme_1) {
  margin-top: 7rem;
  border-color: #fff;
  background-color: transparent;
  color: var(--white);
}
.mainSlider .text_box :global(.btn_theme_1):hover {
  color: var(--blue);
}
.mainSlider .text_box :global(.btn_theme_1)::before {
  background-color: var(--white);
}
.mainSlider .swiper-option-box {
  position: absolute;
  left: 14.5%;
  bottom: 10%;
  text-align: center;
  z-index: 10;
  display: flex;
  gap: 9rem;
}
.mainSlider .swiper-custom-pagination {
  position: relative;
}
.mainSlider .custom-bullet {
  background-color: var(--white);
  position: relative;
  top: 0.8rem;
  margin: 0;
  opacity: 1;
}
.mainSlider .custom-bullet::before {
  display: block;
  content: "";
  width: 4rem;
  height: 4rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0 !important;
}
.mainSlider .custom-bullet + .custom-bullet {
  margin-left: 6.6rem;
}
.mainSlider .custom-bullet svg {
  width: 4rem;
  height: 4rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  z-index: 10;
  max-width: none;
}
.mainSlider .custom-bullet svg circle {
  transition: stroke-dashoffset 0.1s linear;
}
.mainSlider .custom-bullet :global(.btn) {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 4rem;
  height: 4rem;
  border: none;
  background: transparent;
  cursor: pointer;
  z-index: 20;
  display: none;
  padding: 0;
}
.mainSlider .custom-bullet :global(.btn)::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1.2rem;
  height: 1.6rem;
  background-color: #fff;
}
.mainSlider .custom-bullet :global(.btn):global(.play)::before {
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 50%);
          clip-path: polygon(0 0, 0 100%, 100% 50%);
}
.mainSlider .custom-bullet :global(.btn):global(.stop)::before {
  width: 0.4rem;
  height: 1.6rem;
  background-color: #fff;
  -webkit-clip-path: none;
          clip-path: none;
  left: calc(50% - 0.4rem);
}
.mainSlider .custom-bullet :global(.btn):global(.stop)::after {
  content: "";
  position: absolute;
  left: calc(50% + 0.4rem);
  top: 50%;
  transform: translate(-50%, -50%);
  width: 0.4rem;
  height: 1.6rem;
  background-color: #fff;
}
.mainSlider .custom-bullet :global(.btn) :global(.blind) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}
.mainSlider .numbering {
  display: flex;
  font-family: var(--NotoSerif);
  color: var(--white);
  display: flex;
  align-items: center;
}
.mainSlider .numbering .current {
  position: relative;
  top: -0.6rem;
  font-size: 2.3rem;
}
.mainSlider .numbering .bar {
  margin: 0 0.5rem 0 1rem;
}

@media screen and (max-width: 1440px) {
  .mainSlider :global(.swiper) {
    width: calc(100% - 40px);
  }
  .mainSlider .swiper-option-box {
    left: 9%;
    bottom: 9%;
  }
  .mainSlider .custom-bullet :global(.btn) {
    height: 3rem;
    width: 3rem;
  }
  .mainSlider .custom-bullet :global(.btn)::before {
    width: 1.2rem;
  }
  .mainSlider .custom-bullet :global(.btn):global(.stop)::before {
    width: 2px;
    height: 1.1rem;
    background-color: #fff;
    -webkit-clip-path: none;
            clip-path: none;
    left: calc(50% - 0.3rem);
  }
  .mainSlider .custom-bullet :global(.btn):global(.stop)::after {
    content: "";
    position: absolute;
    left: calc(50% + 0.3rem);
    top: 50%;
    transform: translate(-50%, -50%);
    width: 2px;
    height: 1.1rem;
    background-color: #fff;
  }
  .mainSlider .custom-bullet + .custom-bullet {
    margin-left: 5rem;
  }
  .mainSlider .numbering {
    font-size: 1.4rem;
  }
  .mainSlider .numbering .current {
    font-size: 1.8rem;
  }
  .mainSlider .text_box {
    left: 7%;
    top: 47%;
  }
  .mainSlider .text_box .title {
    font-size: 5.2rem;
  }
  .mainSlider .text_box .subtxt {
    font-size: 2.2rem;
  }
}
@media screen and (max-width: 1200px) {
  .mainSlider {
    padding: 61% 8rem 0;
  }
  .mainSlider .pc {
    display: none;
  }
  .mainSlider .mo {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .mainSlider {
    padding: 100% 8em 0;
  }
  .mainSlider :global(.swiper) {
    width: 100%;
  }
  .mainSlider .text_box {
    left: 15px;
    top: auto;
    bottom: 20%;
    transform: translateY(0);
  }
  .mainSlider .text_box .title {
    font-size: 6vw;
  }
  .mainSlider .text_box .subtxt {
    font-size: 3vw;
  }
  .mainSlider .text_box :global(.btn_theme_1) {
    display: none;
  }
  .mainSlider .swiper-option-box {
    left: 25px;
    bottom: 5%;
  }
  .mainSlider .link-area {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
  }
  .mainSlider .custom-bullet {
    width: 4px;
    height: 4px;
  }
  .mainSlider .custom-bullet + .custom-bullet {
    margin-left: 4rem;
  }
}