.mainSlider {
    position: relative;
    padding: 36% 14rem 0;

    :global(.swiper) {
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        width: 95%;
        height: 100%;

        img,
        video {
            height: 100%;
        }
    }

    :global(.swiper-wrapper) {
        overflow: hidden;
    }

    :global(.swiper-slide) {
        &::before {
            display: block;
            content: '';
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, .2);
            position: absolute;
            left: 0;
            top: 0;
            pointer-events: none;
            z-index: 1;
        }
    }

    & :global(.swiper-slide-active) {
        .swiper-pagination-bullet-active {
            background: transparent;
        }

        .text_box {
            z-index: 2;

            .subtxt {
                span {
                    transform: translateY(0);
                    transition: transform .6s;
                    transition-delay: .4s;
                }
            }

            .title {
                >div {
                    p {
                        transform: translateY(0);
                        transition: transform 1s;
                        transition-delay: .6s;
                    }

                    &:last-child {
                        p {
                            transition-delay: 1s;
                        }
                    }
                }
            }
        }
    }


    .text_box {
        position: absolute;
        top: 47%;
        left: 12%;
        transform: translateY(-50%);
        color: var(--white);
        line-height: 1.3;

        .subtxt {
            font-size: 2.6rem;
            overflow: hidden;

            span {
                display: block;
                word-break: keep-all;
                transform: translateY(100%);
            }
        }

        .title {
            margin-top: 1.5rem;
            font-size: 6.9rem;
            font-weight: 600;

            >div {
                overflow: hidden;

                p {
                    transform: translateY(100%);
                    display: block;
                }
            }
        }

        :global(.btn_theme_1) {
            margin-top: 7rem;
            border-color: #fff;
            background-color: transparent;
            color: var(--white);

            &:hover {
                color: var(--blue);
            }

            &::before {
                background-color: var(--white);
            }
        }
    }

    .swiper-option-box {
        position: absolute;
        left: 14.5%;
        bottom: 10%;
        text-align: center;
        z-index: 10;
        display: flex;
        gap: 9rem;
    }

    .swiper-custom-pagination {
        position: static;
    }

    .custom-bullet {
        background-color: var(--white);
        position: relative;
        top: .8rem;
        margin: 0;

        &::before {
            display: block;
            content: '';
            width: 4rem;
            height: 4rem;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            margin: 0 !important;
        }

        &+.custom-bullet {
            margin-left: 6.6rem;
        }

        svg {
            width: 4rem;
            height: 4rem;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%) rotate(-90deg);
            z-index: 10;
            max-width: none;

            circle {
                transition: stroke-dashoffset 0.1s linear;
            }
        }

        :global(.btn) {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 4rem;
            height: 4rem;
            border: none;
            background: transparent;
            cursor: pointer;
            z-index: 20;
            display: none;
            padding: 0;

            &::before {
                content: '';
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 1.2rem;
                height: 1.6rem;
                background-color: #fff;
            }

            &:global(.play)::before {
                clip-path: polygon(0 0, 0 100%, 100% 50%);
            }

            &:global(.stop) {
                &::before {
                    width: 0.4rem;
                    height: 1.6rem;
                    background-color: #fff;
                    clip-path: none;
                    left: calc(50% - 0.4rem);
                }

                &::after {
                    content: '';
                    position: absolute;
                    left: calc(50% + 0.4rem);
                    top: 50%;
                    transform: translate(-50%, -50%);
                    width: 0.4rem;
                    height: 1.6rem;
                    background-color: #fff;
                }
            }

            :global(.blind) {
                position: absolute;
                width: 1px;
                height: 1px;
                margin: -1px;
                overflow: hidden;
                clip: rect(0, 0, 0, 0);
            }
        }
    }

    .numbering {
        display: flex;
        font-family: var(--NotoSerif);
        color: var(--white);
        display: flex;
        align-items: center;

        .current {
            position: relative;
            top: -.6rem;
            font-size: 2.3rem;
        }

        .bar {
            margin: 0 0.5rem 0 1rem;
        }
    }

}

@media screen and (max-width: 1440px) {
    .mainSlider {
        :global(.swiper) {
            width: calc(100% - 40px);
        }

        .swiper-option-box {
            left: 9%;
            bottom: 9%;
        }

        .custom-bullet {
            :global(.btn) {
                height: 3rem;
                width: 3rem;

                &::before {
                    width: 1.2rem;
                }

                &:global(.stop) {
                    &::before {
                        width: 2px;
                        height: 1.1rem;
                        background-color: #fff;
                        clip-path: none;
                        left: calc(50% - 0.3rem);
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        left: calc(50% + 0.3rem);
                        top: 50%;
                        transform: translate(-50%, -50%);
                        width: 2px;
                        height: 1.1rem;
                        background-color: #fff;
                    }
                }
            }

            &+.custom-bullet {
                margin-left: 5rem;
            }

        }

        .numbering {
            font-size: 1.4rem;

            .current {
                font-size: 1.8rem;
            }
        }

        .text_box {
            left: 7%;
            top: 47%;

            .title {
                font-size: 5.2rem;
            }

            .subtxt {
                font-size: 2.2rem;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .mainSlider {
        padding: 61% 8rem 0;
    }
}

@media screen and (max-width: 768px) {
    .mainSlider {
        padding: 100% 8em 0;

        :global(.swiper) {
            width: 100%;
        }

        .text_box {
            left: 15px;
            top: auto;
            bottom: 20%;
            transform: translateY(0);

            .title {
                font-size: 6vw;
            }

            .subtxt {
                font-size: 3vw;
            }

            :global(.btn_theme_1) {
                display: none;
            }
        }

        .swiper-option-box {
            left: 15px;
            bottom: 9%;
        }

        .link-area {
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
            position: absolute;
            left: 0;
            top: 0;
        }

    }
}