.sc-reserve {
  position: relative;
  padding: 17.8rem 0;
  color: #303030;
}
.sc-reserve::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 54.74vw;
  aspect-ratio: 1051/721;
  background: url("/assets/main/bg-reserve01.webp") no-repeat center center/100% auto;
}
.sc-reserve .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 148rem;
  margin: 0 auto;
  padding: 0 max(20px, 2rem);
}
.sc-reserve .type02 {
  max-width: 164rem;
}
.sc-reserve .reserve-left {
  width: 45%;
}
.sc-reserve .title {
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: -0.88px;
}
.sc-reserve .title-area {
  margin-top: 6rem;
}
.sc-reserve .title-area .title {
  font-size: 3.2rem;
  letter-spacing: -0.64px;
}
.sc-reserve .desc {
  font-size: 2.4rem;
  line-height: 1.3;
  letter-spacing: -0.48px;
}
.sc-reserve .form {
  margin-top: 6rem;
}
.sc-reserve .form-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.4rem;
}
.sc-reserve .form-box {
  position: relative;
  width: 100%;
}
.sc-reserve .form-control {
  display: flex;
  width: 100%;
  min-width: 11rem;
  padding: 1.8rem 3rem;
  border: 2.5px solid #d0d0d0;
  border-radius: 2rem;
  font-size: 1.8rem;
  line-height: 1.3;
  color: #333;
  transition: 0.3s ease;
}
.sc-reserve .form-control:focus-within {
  border: 2.5px solid transparent;
  background-image: linear-gradient(white, white), linear-gradient(90deg, rgb(47, 166, 206) 0%, rgb(210, 111, 168) 50%, rgb(229, 118, 39) 100%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}
.sc-reserve .form-control:focus-within::-moz-placeholder {
  color: #333;
}
.sc-reserve .form-control:focus-within::placeholder {
  color: #333;
}
.sc-reserve .form-control:invalid {
  background-color: rgba(255, 0, 0, 0.05);
}
.sc-reserve .form-control::-moz-placeholder {
  -moz-transition: 0.3s ease;
  transition: 0.3s ease;
  color: #8d8d8d;
}
.sc-reserve .form-control::placeholder {
  transition: 0.3s ease;
  color: #8d8d8d;
}
.sc-reserve .nice-select {
  height: unset;
}
.sc-reserve .fancy-area {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  margin-top: 2.2rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
}
.sc-reserve .fancy-area .fancy-ani-box {
  margin-top: -0.2rem;
}
.sc-reserve .fancy-area .fancy-ani-box input + label {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.1rem;
  height: 2.1rem;
  cursor: pointer;
  background: url("/assets/icons/ico-checkbox2.svg") no-repeat -5rem -2rem/9.1rem 6.2rem;
}
.sc-reserve .fancy-area .fancy-ani-box input:checked + label {
  background-position: -2.05rem -2.05rem;
}
.sc-reserve .chk {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  line-height: 1.3;
  letter-spacing: -0.32px;
  color: #333;
}
.sc-reserve .chk .all {
  text-decoration: underline;
}
.sc-reserve .btn-apply {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.3;
  border-radius: 2rem;
  letter-spacing: -0.36px;
  background-color: #173348;
}
.sc-reserve .time-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-auto-flow: column;
  gap: 1rem min(0.4vw, 8rem);
  margin-top: 2.4rem;
}
.sc-reserve .time-item {
  display: flex;
  align-items: center;
}
.sc-reserve .time-item:nth-child(n+4) {
  justify-self: flex-end;
}
.sc-reserve .time-item + .time-item {
  margin-top: 1rem;
}
.sc-reserve .time-item:nth-last-child(1) .info-txt {
  width: 21rem;
}
.sc-reserve .time-item:nth-last-child(2) .info-txt {
  width: 21rem;
}
.sc-reserve .time-item .info {
  display: flex;
}
.sc-reserve .time-item .info-title {
  width: 10rem;
  font-size: 2.2rem;
  line-height: 1.3;
}
.sc-reserve .time-item .info-txt {
  width: 15rem;
  font-size: 2.2rem;
  line-height: 1.3;
}
.sc-reserve .ico-box {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
.sc-reserve .ico-box .ico {
  width: 2.4rem;
  height: 2.4rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
}
.sc-reserve .ico-box .ico.ico01 {
  background-image: url("/assets/icons/ico-reserve01.svg");
}
.sc-reserve .ico-box .ico.ico02 {
  background-image: url("/assets/icons/ico-reserve02.svg");
}
.sc-reserve .ico-box .ico.ico03 {
  background-image: url("/assets/icons/ico-reserve03.svg");
}
.sc-reserve .ico-box .txt {
  font-size: 1.5rem;
  line-height: 1.6;
  color: #6d6d6d;
}
.sc-reserve .reserve-right {
  width: 60%;
}
.sc-reserve .link-area {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  max-width: 52rem;
  margin: 0 135px 0 auto;
}
.sc-reserve .link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: calc(50% - 1rem);
  padding: 5rem 5rem 7rem;
  gap: 0.4rem;
  border-radius: 1rem;
}
.sc-reserve .link::before {
  content: "";
  width: 15rem;
  aspect-ratio: 1/1;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
}
.sc-reserve .link .txt {
  margin-top: -0.3rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: -0.48px;
}
.sc-reserve .link.link-naver {
  background: #d3f4d1;
}
.sc-reserve .link.link-naver::before {
  background-image: url("/assets/icons/ico-naver-3d.svg");
}
.sc-reserve .link.link-naver .txt {
  color: #10390e;
}
.sc-reserve .link.link-kakao {
  background: #ffecaf;
}
.sc-reserve .link.link-kakao::before {
  background-image: url("/assets/icons/ico-kakao-3d.svg");
}
.sc-reserve .link.link-kakao .txt {
  color: #322300;
}
.sc-reserve .link.link-online {
  background: #beddf3;
}
.sc-reserve .link.link-online::before {
  background-image: url("/assets/icons/ico-gpt-3d.svg");
}
.sc-reserve .link.link-online .txt {
  color: #072a43;
}
.sc-reserve .link.link-phone {
  padding-bottom: 5.3rem;
  background: #f4dbdb;
}
.sc-reserve .link.link-phone::before {
  background-image: url("/assets/icons/ico-phone-3d.svg");
}
.sc-reserve .link.link-phone .txt {
  color: #351414;
}
.sc-reserve .link .txt-sm {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.3;
  letter-spacing: -0.32px;
  color: #5b1b21;
}

.sc-reserve2 .fancy-ani-box input + label {
  background: url("/assets/icons/ico-checkbox2.svg") no-repeat -5rem -2rem/9.1rem 6.2rem;
}