.sc-standard {
  position: relative;
  overflow: hidden;

  .pc {
    display: block;
  }

  .mo {
    display: none;
  }

  .standard-top {
    position: relative;
    /* height: 300vh; */
    padding: 43rem 0 44.6rem;
    background: linear-gradient(180deg,
        rgba(244, 220, 208, 0) 81.25%,
        rgba(222, 216, 211, 0.25) 85.94%,
        rgba(200, 221, 214, 0.5) 90.63%,
        #b9d1e5 100%),
      #fff;
    overflow: hidden;

    .title-area {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      z-index: 10;
      width: 100%;
      max-width: 76rem;
      margin: 0 auto;
      padding: 0 2rem;
      /* position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); */
      text-align: center;
      transition: opacity 0.6s ease;

      .img-wrap,
      .desc {
        opacity: 0;
      }

      .img-wrap {
        width: 100%;
        aspect-ratio: 1522 / 276;
      }

      .desc {
        margin-top: 4rem;
        color: #252525;
        font-size: 2.2rem;
        line-height: 1.6;
        letter-spacing: -0.44px;
      }
    }

    .path-area {
      position: absolute;
      top: 16%;
      right: -10%;
      /* left: 5%; */
      width: 100%;
      opacity: 0;
    }

    .eye-box {
      position: absolute;
      top: 16%;
      right: 30rem;
      width: 100%;
      max-width: 34rem;
      aspect-ratio: 340 / 210;

      .img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .doctor-img-wrap {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 0);
      width: 100%;
      max-width: 1440px;
      aspect-ratio: 1920 / 464;

      .img-area {
        position: absolute;
        bottom: 0;
        width: 17.1875vw;
        max-width: 400px;
        aspect-ratio: 1 / 1;
        opacity: 0;

        &:nth-child(1) {
          left: 16.8125vw;
        }

        &:nth-child(2) {
          left: 24.4375vw;
          z-index: 1;
        }

        &:nth-child(3) {
          left: 33.4125vw;
          z-index: 2;
        }

        &:nth-child(4) {
          left: 41.2125vw;
          z-index: 3;
        }

        &:nth-child(5) {
          right: 29.4125vw;
          z-index: 7;
        }

        &:nth-child(6) {
          right: 21.2125vw;
          z-index: 6;
        }

        &:nth-child(7) {
          right: 13.8125vw;
          z-index: 5;
        }

        &:nth-child(8) {
          right: 13.8125vw;
          z-index: 4;
        }
      }
    }
  }

  .corp {
    position: relative;

    .inner {
      width: 100%;
      max-width: 148rem;
      margin: 0 auto;
      padding: 0 max(20px, 2rem);
    }

    .inner.type02 {
      max-width: 164rem;
    }

    :global(.swiper) {
      overflow: visible;
    }


    .link {
      display: block;
      height: 16rem;
      padding: 5rem 0;
      position: relative;

      img {
        height: 100%;
        object-fit: contain;
      }

      .blind {
        position: absolute;
        clip: rect(0 0 0 0);
        width: 1px;
        height: 1px;
        margin: -1px;
        overflow: hidden;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .sc-standard {

    .pc {
      display: none;
    }

    .mo {
      display: block;
    }

    .standard-top {
      &.hide {
        opacity: 0;
      }

      .title {
        width: 80%;
        margin: 0 auto;
        gap: 1.1rem;
      }

      .path-area,
      .eye-box {
        display: none;
      }

      .doctor-img-wrap {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
        width: 100%;
        max-width: 100%;
        aspect-ratio: 828 / 478;
      }
    }

    .standard-bottom {
      display: block;
      height: unset;
      padding-bottom: 17.1rem;
    }

    .standard-list {
      display: block;
      margin-top: -60vh;
      height: 100%;
    }

    .standard-item {
      width: 100%;
      padding: 6.5rem 3.4rem 0;
      border-radius: 3.4rem;
      aspect-ratio: unset;

      .title-area {
        .txt {
          font-size: 2.8rem;
        }

        .txt-color {
          font-size: 5.1rem;
        }

        .desc {
          margin-top: 4.3rem;
          font-size: 2.1rem;
        }

        .ico-box {
          position: static;
          margin-top: 2.8rem;
          margin-right: -3.4rem;
        }

        .ico {
          width: 24.6rem;
          margin-left: auto;
          aspect-ratio: 172 / 184;
        }
      }
    }
  }
}