@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard-dynamic-subset.css");
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&display=block');

:root {
  --white: #fff;
  --black: #000;
  --blue: #173348;
  --pur: #5b4599;
  --serif: 'Cormorant Garamond', serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --white: #000;
    --black: #fff;
  }
}

html {
  font-size:62.5%;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--black);
  background: var(--white);
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size:1.6rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
}

.btn_theme_1 {
  position: relative;
  display: inline-block;
  padding: 0 1.8em;
  width: auto;
  height: 45px;
  line-height: 45px;
  font-size: 1.5rem;
  background-color: #fff;
  color: var(--blue);
  border: 1px solid var(--blue);
  text-align: center;
  font-family: 'Pretendard', sans-serif;
  font-weight: 500;
  transition: color 0.3s;
}
.btn_theme_1::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  background-color: var(--blue);
  z-index: 1;
  transition: color, height 0.3s ease;
}
.btn_theme_1:hover::before {
  height:100%;
  z-index:-1;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
