.page {
    padding-top: var(--header-height);
    min-height: 200vh;
    transition: padding-top 0.3s ease;
}

:global(body.hasBanner) .page {
    padding-top: calc(var(--header-height) + var(--top-banner-height));
}