@charset "utf-8";

/* reset */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&');

html{font-size: 10px}
body{font-size: 1.8rem;}
html, body{
    -webkit-text-size-adjust : none;  /* 크롬, 사파리, 오페라 신버전 */
    -ms-text-size-adjust : none;  /* IE */
    -moz-text-size-adjust : none;  /* 파이어폭스 */
    -o-text-size-adjust : none;  /* 오페라 구버전 */

}




* { box-sizing:border-box; -webkit-tap-highlight-color: transparent; }
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button { margin:0; padding:0; }
body { display: flex; flex-direction: column; min-height: 102vh; overflow-x: hidden; font-family: 'Pretendard', sans-serif; line-height: 1.5; color: var(--blue)}
fieldset,img,video { border:0 none; vertical-align:top; }
img { max-width:100%; }
dl,ul,ol,li { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after,q:before, q:after { content:''; content:none; }
input,select,textarea,button { font-family:inherit; vertical-align:middle; }
input { -webkit-appearance: none; -webkit-border-radius: 0; outline: none; border: none}
input[type="text"]::placeholder{color: inherit}
textarea { -webkit-appearance: none; -webkit-border-radius: 0; font-family:inherit; resize: none; }
button { background:none; color: var(--blue)}
table { border-collapse: collapse; border-spacing: 0; }
button { border:0 none; cursor:pointer; }
a { color:inherit; text-decoration:none; }
a:active, a:hover { text-decoration:none; }
address,caption,cite,code,dfn,em,var { font-style:normal; font-weight:normal; }
caption {clip: rect(0, 0, 0, 0); height: 1px; margin: -1px; overflow: hidden; position: absolute; width: 1px;}
legend {clip: rect(0, 0, 0, 0); height: 1px; margin: -1px; overflow: hidden; position: absolute; width: 1px;}


@media screen and (min-width: 2600px) {
    html { font-size: 10.5px; }
}
@media screen and (max-width: 2000px) {
    html { font-size: 9.25px; }
}

@media screen and (max-width: 1600px) {
    html { font-size: 9.25px; }
}

@media screen and (max-width: 1400px) {
    html { font-size: 9px; }
}
@media screen and (max-width: 1200px){
    html { font-size: 8px; }
}

@media screen and (max-width: 768px){
    html { font-size: 7px; }
}