.sc-event {
  position: relative;
  padding: 16rem 0;
  color: #303030;
}
.sc-event .inner {
  width: 100%;
  max-width: 148rem;
  margin: 0 auto;
  padding: 0 max(20px, 2rem);
}
.sc-event .type02 {
  max-width: 164rem;
}
.sc-event .title-area .title {
  font-weight: 700;
  font-size: 4.4rem;
  line-height: 1.3;
  letter-spacing: -0.88px;
}
.sc-event .title-area .desc {
  margin-top: 4px;
  font-size: 2.4rem;
  line-height: 1.3;
  letter-spacing: -0.48px;
}
.sc-event .contents {
  margin-top: 4.5rem;
  position: relative;
  width: 100%;
}
.sc-event .contents .date {
  font-family: "Spoqa Han Sans", serif;
  font-size: 1.6rem;
  letter-spacing: -0.32px;
  color: #6d6d6d;
}
.sc-event .title-box {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.sc-event .swiper {
  overflow: hidden;
  padding: 0 4rem;
}
.sc-event .swiper-slide {
  width: 100%;
  max-width: 35rem;
}
.sc-event .link {
  display: block;
  text-decoration: none;
  color: inherit;
}
.sc-event .thumbnail {
  overflow: hidden;
  border: 1px solid #dbdbdb;
  border-radius: 2.4rem;
  aspect-ratio: 350/340;
  position: relative;
}
.sc-event .thumbnail img {
  -o-object-fit: cover;
     object-fit: cover;
}
.sc-event .info-area {
  margin-top: 2rem;
}
.sc-event .info-area .link-title {
  display: block;
  width: 100%;
  margin-bottom: 0.6rem;
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.3;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.sc-event .swiper-controller {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 7.5rem;
}
.sc-event .swiper-btn {
  position: relative;
  width: 5.4rem;
  height: 5.4rem;
  border-radius: 50%;
  background-color: #173348;
  transition: 0.4s ease-in-out;
  border: none;
  cursor: pointer;
}
.sc-event .swiper-btn:hover {
  background-color: #173348;
}
.sc-event .swiper-btn:global(.swiper-button-disabled) {
  background-color: #d5d5d5;
  cursor: default;
}
.sc-event .swiper-btn::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2.4rem;
  height: 2.4rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
  background-image: url("/assets/icons/arw-down.svg");
}
.sc-event .swiper-btn.prev::before {
  transform: translate(-50%, -50%) rotate(90deg);
}
.sc-event .swiper-btn.next::before {
  transform: translate(-50%, -50%) rotate(-90deg);
}

@media screen and (max-width: 768px) {
  .sc-event .type02 {
    padding-right: 0;
  }
  .sc-event .swiper {
    padding: 0;
  }
}